<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div class="card mx-auto shadow mt-4" style="width: 30rem;">

        <div class="card-title">
            <img src="https://media.istockphoto.com/photos/hand-with-pen-on-voter-registration-form-picture-id1270133309"
                style="width:30rem; height:150px;" class="card-img-top mb-2">
            <h4 style="color: blueviolet; text-align: center;">Register here</h4>
        </div>

        <form class="card-body" [formGroup]="loginForm">
            <div class="input-group flex-nowrap mb-3">
                <span class="input-group-text" id="addon-wrapping" style="width:150px;">Email</span>
                <input type="text" class="form-control" formControlName="email" placeholder="Enter email address"
                    aria-label="Username" aria-describedby="addon-wrapping" value="eve.holt@reqres.in">
            </div>
            <div class="input-group flex-nowrap mb-3">
                <span class="input-group-text" id="addon-wrapping" style="width: 150px;">Password</span>
                <input type="password" class="form-control" formControlName="password" placeholder="Enter password"
                    aria-label="Username" aria-describedby="addon-wrapping" value="cityslicka">
            </div>
            <div class="input-group flex-nowrap mb-3">
                <span class="input-group-text" id="addon-wrapping" style="width: 150px;">Repeat Password</span>
                <input type="password" class="form-control" formControlName="repeatPassword"
                    placeholder="Repeat password" aria-label="Username" aria-describedby="addon-wrapping"
                    value="cityslicka">
            </div>
            <div class="text-center d-grid">
                <button class="btn btn-success" type="submit" (click)="submit();">Register</button>
            </div>
        </form>

    </div>

</body>

</html>